<div class="row" style="width: 180%;">
    <div style="overflow-y:scroll;width: 100%;height: 530px;">
        <div *ngFor="let message of chat">
            <div *ngIf="servicio.jugador?.nick == message.nick"><span  style="color:rgb(114, 219, 65);padding-left:1em">{{message.nick}} :</span><span style="color:'white'"> {{message.message}} </span></div>
            <div *ngIf="servicio.jugador?.nick != message.nick"><span  style="color:rgb(192, 32, 86);padding-left:1em">{{message.nick}} :</span><span style="color:'white'"> {{message.message}} </span></div>
        </div>
    </div>
</div>
<div class="row">
    <input class="col-9 form-control" #new_field type="text" value="" (keyup.enter)="send(new_field.value);new_field.value = ''"/>
    <button class="col-3 btn btn-secondary" (click)="send(new_field.value);new_field.value = ''">Enviar</button>
</div>