
<app-navbar></app-navbar>
<br><br>
<div class="flex-container">
    <div>
        <app-tablero></app-tablero>
    </div>
    <div class="chat" >
        <app-chat ></app-chat>
    </div>
</div>
<div class="m-4 row justify-content-start marcador-countdown">
    <app-marcador class="col-6" 
        [partida] = "servicioAjedrez.partida"
        [colorJugador] = "servicioAjedrez.colorJugador"
        >
        
    </app-marcador>
    <div class="col-6 container-timer">
    <countdown #cd  class="timer" [config]="{ leftTime: 600, format: 'm:ss' , demand: true}"  (event)="onTimerFinished($event)" ></countdown>
</div>
</div>


