
<div class="container m-20">
<br>
<br>
  
<table class="table table-hover table-dark m-20">
    <thead>
      <tr>
        <th scope="col">Id Partida</th>
        <th scope="col">Jugador Blancas</th>
        <th scope="col">Jugador Negras</th>
        <th scope="col">Resultado</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of roomsOnline">
        <th scope="row">{{room.partida.id}}</th>
        <td>{{ room.partida.jugadorBlancas.nick }}</td>
        <td *ngIf="room.partida.jugadorNegras == null; else elseNegras">Esperando oponente</td>
        <ng-template #elseNegras><td >{{ room.partida.jugadorNegras.nick }}</td></ng-template>
        <td *ngIf="room.partida.resultado == 'InGame'; else elseBlock">{{ room.partida.resultado }}</td>
        <ng-template #elseBlock><td ><a class="nav-link" [routerLink]="['/partida', room.id]">Unirse a la partida</a></td></ng-template>
      </tr>
    </tbody>
  </table>
</div>