<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Id Partida</th>
        <th scope="col">Jugador Blancas</th>
        <th scope="col">Jugador Negras</th>
        <th scope="col">Resultado</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of roomsOnline">
        <th scope="row">{{room.partida.id}}</th>
        <td>{{ room.partida.jugadorBlancas.nick }}</td>
        <td *ngIf="room.partida.jugadorNegras == null; else elseNegras">Esperando oponente</td>
        <td #elseNegras>{{ room.partida.jugadorNegras.nick }}</td>
        <td *ngIf="room.partida.resultado == 'InGame'; else elseBlock">{{ room.partida.resultado }}</td>
        <td #elseBlock><a class="nav-link" [routerLink]="['/partida', room.id]">Unirse a la partida</a></td>
      </tr>
    </tbody>
  </table>